h1 {
   color: #d4d4d6;
}

.colors {
   margin: 30px;
   border-radius: 10px;
   padding: 15px;
}

.colors:hover {
    cursor: pointer;
}

#red {
    background-color: red;
}

#blue {
    background-color:#223b9e;
}

#orange {
    background-color: #c49527;
}

#green {
    background-color: green;
}

#yellow {
    background-color: #b5b536;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}

#brown {
    background-color: #302013;
}

#white {
    background-color: white;
}

#gray {
    background-color: gray;
}
