#inputs {
margin-top: 150px;
}

#diceType, #number, #modifier {
   outline: none;
   border: none;
   cursor: pointer;
}

#number, #modifier {
   background-color: #d0d0d0;
   width: 50px;
   height: 35px;
   border-radius: 5px;
   padding-left: 12px;

}

#clear {
   display: inline;
   cursor: pointer;
}

#clear:hover{
   color: #4e5b6d;
}


#number:focus, #modifier:focus {
   background-color: white;
}

#diceType {
   width: 80px;
   height: 40px;
   text-align: center;
}

#dice{
   margin-top: 40px;
   width: 100px;
   cursor: pointer;
}

#inputs p{
   display: inline;
}

h1{
   margin-top: 40px;
}

#history{
   width: 300px;
   margin: auto;
   margin-bottom: 40px;
}

#history h2{
   cursor: pointer;
}

#history h2:hover{
   color: #4e5b6d;
}

#message {
   visibility: hidden;
}


.roll{
   animation: roll 300ms ease-in-out 1;
}

@keyframes roll {
   0% {
   }
   100% {
      transform: rotate(1440deg);
   }
}
