body {
   margin: 0;
   overflow-x: hidden;
}

h1{
   font-family: "Lakeshore";
   font-size: 170px;
   color: #4e5b6d;
}

#title{
   margin-top: -80px;
   margin-bottom: 20px;
}

#socials{
   margin-top: 20px;
}

h2{
   display: inline;
   font-size: 35px;
   color: #d0d0d0;
}

h3{
   font-size: 30px;
   color: #5b5b5b;
}

p{
   font-size: 28px;
}

a{
   color: #2f5899;
}

a:hover{
   color: #8a8a8a;
}

.divider{
   font-size: 50px;
   opacity: 0.5;
}

.header {
   height: 100vh;
   display: flex;
   align-items: center;
   background-image: url('/img/header.jpg');
   position:relative;
   /* opacity: 0.3; */
   background-position:center;
   background-size:cover;
   background-repeat:no-repeat;
   background-attachment: fixed;
}

.header-overlay{
   height: 100vh;
   width: 100vw;
   position: absolute;
   top:0;
   left:0;
   background:#181818;
   z-index: 1;
   opacity: 0.95;
}

.header-content{
   z-index: 2;
}

.social{
   cursor: pointer;
   width: 40px;
   margin: 0 20px;
}

.social:hover{
   opacity: 0.5;
}

#down{
   width: 20px;
   position: absolute;
   bottom: 10px;
   left: 50%;
   margin-left: -7.5px;
   animation: flash 4s ease-in-out infinite;
}

#doug{
   width: 100%;
   border-radius: 10px;
   margin-bottom: 20px;
}

#about{
   padding: 40px 15px;
}



li{
   margin: 5px 0px;
   line-height: 20px;
}

li h3{
   display: inline-block;
   color: #d0d0d0;
   font-size: 20px;
   margin: 10px 0;
}

.section-light{
   background-color: #f4f4f4;
   padding: 60px 10px;
}

.section-light h2, .section-light p{
   color: black;
}

.projects {
   height: 100%;
   display: flex;
   background-image: url('/img/header.jpg');
   position:relative;
   /* opacity: 0.3; */
   background-position:center;
   background-size:cover;
   background-repeat:no-repeat;
   background-attachment: fixed;
}

.projects-overlay{
   height: 100%;
   width: 100%;
   position: absolute;
   top:0;
   left:0;
   background:#181818;
   z-index: 1;
   opacity: 0.97;
}

.projects-content{
   padding: 40px 15px;
   z-index: 2;
}

@media(max-width:1000px){
   #title {
      font-size: 90px;
   }
   .divider{
      display: none;
   }
   h2 {
      font-size: 25px;
      display: block;
   }
}

@media(max-width:568px){
   .projects, .header {
      background-attachment: scroll;
   }
   #title {
      font-size: 90px;
   }
   .divider{
      display: none;
   }
   h2 {
      font-size: 25px;
      display: block;
   }
   #about{
      padding: 5px 5px;
   }
}

@font-face {
    font-family: Lakeshore;
    src: url('/fonts/lakeshore.otf');
}

@font-face {
    font-family: TrueLies;
    src: url('/fonts/TrueLies.ttf');
}

@keyframes flash {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.4;
   }
   100% {
      opacity: 0;
   }
}
