body {
    background-color: #181818;
    overflow-x: hidden;
}

#quoteBlock{
   margin-top: 60px;
   width: 90%;
   max-width: 600px;
}

#author{
   margin-top: 40px;
}

button {
   cursor: pointer;
    background-color: #4e5b6d;
    width: 200px;
    padding: 20px;
    min-width: 250px;
    border-radius: 10px;
    border-style: none;
    outline: 0;
    color: #d0d0d0;
    margin-top: 100px;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
    letter-spacing: 7px;
    padding: 7px;
}

button:focus{
   outline: none;
}

p, h2 {
    color: #8b8b8b;
    opacity: 1;
}

h1 {
    color: #181818;
    font-size: 17px;
}

h2{
   font-size: 25px;
}

.hidden {
    visibility: hidden;
}

#tweet {
   cursor: pointer;
   width: 40px;
    margin-top: 20px;
}

#tweet:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 500px) {
    .centered {
        position: static;
        padding: 35px;
      margin:50px 10px 50px 10px;
    /* bring your own prefixes */
    transform: translate(0%, 0%);

    }
}
